{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for m in messages %}
<div class="alert {% if m.tags == 'error' %} alert-danger {% elif m.tags == 'success' %} alert-success {% endif %} mt-2" role="alert">
    {% if m.tags == 'error' %}
    <h4 class="alert-heading">Error!</h4>
    {% elif m.tags == 'success' %}
    <h4 class="alert-heading">Success!</h4>
    {% endif %}
    <p>{{ m }}</p>
</div>
{% endfor %}
{% endif %}

<form method="post" class="d-flex mx-auto flex-column mt-5" style="width: 30%; height:40vh; box-shadow: 4px 4px 8px gray; background-color:rgb(246, 182, 45)">
    {% csrf_token %}
    <h3 class="mx-auto mt-4">Deposit</h3>
    <div class="form-container d-flex flex-column">
        <div class="mx-auto mt-4" >
            <input class="" name="amount" id="amount" type="number" required placeholder="Amount">
        </div>
        {% if form.amount.errors %} {% for error in form.amount.errors %}
                <p class="text-red">{{ error }}</p>
                {% endfor %} {% endif %}
                <div class="button mx-auto mt-4">
                    <button class="btn btn-danger" type="submit">
                    Submit
                </button>
                </div>
    </form>
    </div>
    
{% endblock %}